@tailwind base;

html,
body {
  @apply h-full overflow-hidden;
}

@layer base {
  h1 {
    @apply h1;
  }
  h2 {
    @apply h2;
  }
  h3 {
    @apply h3;
  }
  h4 {
    @apply h4;
  }
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk.ttf");
  font-display: swap;
}
