@tailwind base;

html,
body {
  @apply h-full overflow-hidden;
}

@layer base {
  h1 {
    @apply text-3xl lg:text-5xl pb-1 lg:pb-3;
  }
  h2 {
    @apply text-2xl lg:text-3xl pb-1 lg:pb-2;
  }
  h3 {
    @apply text-lg lg:text-xl pb-1;
  }
  p {
    @apply mb-2 lg:mb-4;
  }
  a {
    @apply font-medium;
  }
  ul {
    @apply ml-2 lg:ml-4;
  }
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk.ttf");
  font-display: swap;
}
